@font-face {
  font-family: "Lexend-VariableFont";
  src:
      local("Lexend-VariableFont"),
      url("https://deniz.blue/assets/fonts/Lexend-VariableFont_wght.ttf");
}

.ptr {
  pointer-events: all;
}

body {
  overflow: hidden;
}

.selectable {
  outline-offset: 0.2em;
  border-radius: var(--mantine-radius-md);
}

.selectable[data-selected=true] {
  outline: solid var(--mantine-color-blue-outline);
}
