@font-face {
  font-family: "Lexend-VariableFont";
  src:
      local("Lexend-VariableFont"),
      url("https://deniz.blue/fonts/Lexend-VariableFont_wght.ttf");
}

.ptr {
  pointer-events: all;
}

body {
  overflow: hidden;
}
